@import "tailwindcss";

/* .App{
  height: 100vh;
} */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.logo > img {
  width: 40px;
  border-radius: 50%;
}
.title {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
}
.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-link a {
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link:active {
  color: #61dafb;
}

main{
  justify-items: center;
  align-items: center;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}